* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    background-color:#090722;
    width: 100%;
    justify-content: flex-end;
    padding: 20px 2%;
    position: fixed;

    z-index: 2;

}

header .logo {
    height: 50px;
    right: auto;
    margin-right: auto;
}

header h1 {
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-right: auto;
    font-family: 'Karla', sans-serif;
}


.nav-list {
    list-style: none;


}

.nav-list li {
    display: inline-block;
    padding-left: 50px;

}

.nav-list li a {
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    color: white;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

li a .active,
li a:hover {
    border: 1px solid white;
    transition: .5s;
}





section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px 100px;
    height: 100vh;
}

section .bg {
    margin-top: 100px;
    max-width: 700px;
    float: left;
}

#home .container h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 50px;
    color: #d63031;
}

#home {
    height: auto;
    position: relative;
    top: 50px;


}

#home .container {}

span {
    line-height: 50px;

    color: white;
    text-transform: uppercase;
    background-color: #2f3542;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;

}

#home .container h1,
p {
    font-family: 'Play', sans-serif;
    color: #57606f;
}

span:hover {
    background-color: black;
}

/* animasi */
.container .ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.container .ml15 .word {
    display: inline-block;
    line-height: 1em;
}


/* AwalFooter */
footer {
    bottom:0;
    width:100%;
    height:280px;   /* tinggi dari footer */
    background:rgb(57, 61, 63);
}

.footer > .container, .footer > .row .col-sm-4 {
    padding-left: 0;
    padding-right: 0;
}

::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.u-pb50 {
    padding-bottom: 50px;
    padding-top: 50px;
}
.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.col-sm-4 {
    width: 33.33333333%;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer a {
    color: #f4f6f8;
}

.footer__logo {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 80px;
    height: auto;
    padding-bottom: 80px;
    margin: 4px 0 0;
    background-size: auto;
    background-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #f3f8fa;
    font-weight: normal;
}
}
.footer-main .col-sm-2 {
    padding: 0;
}
.col-sm-2 {
    width: 16.66666667%;
}

#fh5co-footer [class*="col"] {
    padding-bottom: 30px;
}
.fh5co-copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    clear: both;
    margin-top: 40px !important;
    padding: 40px 0 0 0;
    padding-bottom: 0px;
    text-align: center;
}
/* Akhir Footer */
